:root {
  font-size: 62.5%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  --scrollbar-size: 0.5rem;
  inline-size: var(--scrollbar-size);
  block-size: var(--scrollbar-size);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #555555;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  max-inline-size: 65ch;
  text-wrap: pretty;
}

header,
footer,
main,
section,
article {
  container-type: inline-size;
}

html {
  scroll-behavior: smooth;
}